[env]
RUST_LOG = "forest=debug,notmad=trace,info"

[tools]
rust = { version = "1.93.1", components = "rust-src,rust-analyzer" }

[tasks.todos]
run = "hyperlog --local-path ./todos"

[tasks."forest:install"]
alias = ["i", "install"]
run = "cargo install --path crates/forest -f"

[tasks.forest]
dir = "{{ cwd }}"
run = "cargo run -p forest -- "

[tasks."forest:my"]
dir = "./examples/my_project"
run = "cargo run -p forest -- "

[tasks."forest:publish"]
dir = "{{ cwd }}"
run = "cargo run -p forest -- publish"

[tasks."forest:trace:my"]
env = { RUST_LOG = "forest=trace,info" }
dir = "./examples/my_project"
run = "cargo run -p forest -- "

[tasks."forest:trace"]
env = { RUST_LOG = "forest=trace,info" }
dir = "{{cwd}}"
run = "cargo run -p forest -- "

[tasks."develop"]
alias = ["d", "dev"]
env = { RUST_LOG = "forest_server=trace,info" }
run = "cargo run -p forest-server -- serve"

[tasks."build"]
run = "cargo build --release"

[tasks."forest:docker:build"]
run = "docker build -f ./templates/forest.Dockerfile -t docker.io/kasperhermansen/forest:local ."

[tasks."forest-server:docker:build"]
run = "docker build -f ./templates/forest-server.Dockerfile -t docker.io/kasperhermansen/forest-server:local ."

[tasks."docker:build"]
depends = [
  "forest:docker:build",
  "forest-server:docker:build"
]
run = ""

[tasks."docker:publish"]
depends = "docker:build"
run = """
  echo "building services"
  docker build -f ./templates/forest.Dockerfile -t docker.io/kasperhermansen/forest:main .
  docker build -f ./templates/forest-server.Dockerfile -t docker.io/kasperhermansen/forest-server:main .

  docker push docker.io/kasperhermansen/forest:main
  docker push docker.io/kasperhermansen/forest-server:main
"""

[tasks."dev:init"]
run = """
mise run dev -- admin create-namespace forest
mise run dev -- admin deploy-component ./components/* --all --quiet
"""

[tasks."local:up"]
run = "docker compose -f ./templates/docker-compose.yaml up -d --remove-orphans"

[tasks."local:down"]
run = "docker compose -f ./templates/docker-compose.yaml down -v"

[tasks."local:logs"]
run = "docker compose -f ./templates/docker-compose.yaml logs -f"

[tasks."db:shell"]
env = {PGPASSWORD="devpassword"}
run = "psql -h localhost -p 5432 -U devuser -d dev"

[tasks."db:migrate"]
run = "cargo sqlx migrate run --source ./crates/forest-server/migrations/"

[tasks."db:prepare"]
run = "cargo sqlx prepare --workspace"

[tasks."k8s:up"]
run = "./scripts/k3d-manager.sh create"

[tasks."k8s:down"]
run = "./scripts/k3d-manager.sh cleanup"

[tasks."k8s:list"]
run = "./scripts/k3d-manager.sh list"

[tasks.test]
run = "cargo nextest run"


[tasks."generate:proto"]
run = "buf generate"

[tasks."generate"]
alias = ["g", "gen"]
depends = ["generate:proto"]
