[env]
RUST_LOG = "non=debug,info"

[tools]
rust = { version = "1.87", components = "rust-src,rust-analyzer" }

[tasks.non]
run = "cargo run -p non -- "

[tasks."non:trace"]
env = { RUST_LOG = "non=trace,info" }
run = "cargo run -p non -- "


[tasks."dev:serve"]
env = { RUST_LOG = "non_server=trace,info" }
run = "cargo run -p non-server -- serve"

[tasks."dev:init"]
run = """
mise run dev -- admin create-namespace non
mise run dev -- admin deploy-component ./components/* --all --quiet
"""

[tasks."local:up"]
run = "docker compose -f ./templates/docker-compose.yaml up -d --remove-orphans"

[tasks."local:down"]
run = "docker compose -f ./templates/docker-compose.yaml down -v"
