[env]
#RUST_LOG = "non=trace,info"

[tools]
rust = { version = "1.89", components = "rust-src,rust-analyzer" }

[tasks.todos]
run = "hyperlog --local-path ./todos"

[tasks."non:install"]
alias = ["i", "install"]
run = "cargo install --path crates/non -f"

[tasks.non]
dir = "{{ cwd }}"
run = "cargo run -p non -- "

[tasks."non:my"]
dir = "./examples/my_project"
run = "cargo run -p non -- "

[tasks."non:publish"]
dir = "{{ cwd }}"
run = "cargo run -p non -- publish"

[tasks."non:trace:my"]
env = { RUST_LOG = "non=trace,info" }
dir = "./examples/my_project"
run = "cargo run -p non -- "

[tasks."non:trace"]
env = { RUST_LOG = "non=trace,info" }
dir = "{{cwd}}"
run = "cargo run -p non -- "

[tasks."dev:serve"]
alias = ["d", "dev"]
env = { RUST_LOG = "non_server=trace,info" }
run = "cargo run -p non-server -- serve"

[tasks."dev:init"]
run = """
mise run dev -- admin create-namespace non
mise run dev -- admin deploy-component ./components/* --all --quiet
"""

[tasks."local:up"]
run = "docker compose -f ./templates/docker-compose.yaml up -d --remove-orphans"

[tasks."local:down"]
run = "docker compose -f ./templates/docker-compose.yaml down -v"

[tasks."local:logs"]
run = "docker compose -f ./templates/docker-compose.yaml logs -f"

[tasks."k8s:up"]
run = "./scripts/k3d-manager.sh create"

[tasks."k8s:down"]
run = "./scripts/k3d-manager.sh cleanup"

[tasks."k8s:list"]
run = "./scripts/k3d-manager.sh list"

[tasks.test]
run = "cargo nextest run"


[tasks."generate:proto"]
run = "buf generate"

[tasks."generate"]
alias = ["g", "gen"]
depends = ["generate:proto"]
