[project]
name = "my_service"

[project.dependencies]
"non/rust-persistent-service" = { path = "../../components/non-contrib/rust_persistent_service" }

[non."rust-persistent-service".config]
name = "my-service"
replicas = 2
ports = [
  { name = "external", port = 3000, external = true },
  { name = "internal", port = 3001 },
  { name = "grpc_external", port = 4000, external = true, subdomain = "grpc" },
  { name = "grpc_internal", port = 4001 },
]
health_checks = { live = { http = { path = "/", port = 3001 } } }

[non."rust-persistent-service".config.environment]
RUST_LOG = "my_service=debug,info"
