[project]
name = "service-example"

[dependencies]
"non/deployment" = { path = "../../components/non/deployment" }
"non-contrib/rust-persistent-service" = { path = "../../components/non-contrib/rust_persistent_service" }

["non-contrib"."rust-persistent-service".destination.dev.config]
replicas = 3
environment = [{ key = "RUST_LOG", value = "debug" }]

["non-contrib"."rust-persistent-service".destination.prod.config]
replicas = 10
environment = [{ key = "RUST_LOG", value = "info" }]

["non-contrib"."rust-persistent-service".config]
name = "service-example"
ports = [
  { name = "external", port = 3000, external = true },
  { name = "internal", port = 3001 },
  { name = "grpc_external", port = 4000, external = true, subdomain = "grpc" },
  { name = "grpc_internal", port = 4001 },
]
health_checks = { live = { http = { path = "/", port = 3001 } } }

[non."rust-persistent-service".config.environment]
RUST_LOG = "my_service=debug,info"

[commands]
dev = ["cargo run"]
