[project]
name = "service-example"

[dependencies]
"non/deployment".path = "../../components/non/deployment"
"non-contrib/postgres".path = "../../components/non-contrib/postgres"
"non-contrib/rust-persistent-service".path = "../../components/non-contrib/rust_persistent_service"

[non.deployment]
enabled = true

["non-contrib"."rust-persistent-service".env.dev]
destinations = [{ destination = "dev-k8s-*", type = "non/kubernetes@1" }]

["non-contrib"."rust-persistent-service".env.dev.config]
replicas = 3
environment = [{ key = "RUST_LOG", value = "debug" }]

["non-contrib"."rust-persistent-service".env.prod]
destinations = [
  { destination = "prod-k8s-*", type = "non/kubernetes@1" },
  { destination = "eu-west-1-*", type = "non/terraform@1" },
]

["non-contrib"."rust-persistent-service".env.prod.config]
replicas = 10
environment = [{ key = "RUST_LOG", value = "info" }]

["non-contrib"."rust-persistent-service".config]
name = "service-example"
ports = [
  { name = "external", port = 3000, external = true },
  { name = "internal", port = 3001 },
  { name = "grpc_external", port = 4000, external = true, subdomain = "grpc" },
  { name = "grpc_internal", port = 4001 },
]
health_checks = { live = { http = { path = "/", port = 3001 } } }

["non-contrib"."rust-persistent-service".config.environment]
RUST_LOG = "my_service=debug,info"

[commands]
dev = ["cargo run"]
