[component]
name = "rust-persistent-service"
namespace = "non-contrib"
version = "0.0.0"

[commands]
build = { bash = """
  echo "component $NON_COMPONENT"
  echo "tmp $NON_TMP"
  $non template production.Dockerfile.jinja2
  echo "$?"
  docker build -t something:latest -f $NON_TMP/production.Dockerfile .
""" }

parent = { bash = "echo parent && non run nested" }
nested = { bash = "echo nested && non run nested2" }
nested2 = ["echo nested2", "non run nested3", "non run nested4"]
nested3 = ["echo nested3"]
nested4 = ["echo nested4", "non run nested3"]
