project {
	name local
	description """
		A simple local project that depends on ../plan for its utility scripts
	"""

	plan {
		local "../plan"
	}

	global {
		someName "name"
		someKey {
			someNestedKey "somevalue"
			some {
				key {
					val
					val
				}
			}
		}
	}

	templates type=jinja2 {
		path "templates/*.jinja2"
		output "output/"
	}

	scripts {
		hello type=shell {}
	}
}

